.categories {
  margin-bottom: 130px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 193px;
    img {
      display: block;
      width: 100%;
    }
  }
  &__names {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__list {
    display: flex;
    margin: 0 0 5px 0;
    &:last-child {
      margin: 0 0 0 0;
    }
  }
  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 10px;
    margin: 0px 16px 0 0;

    min-width: 108px;
    height: 30px;

    border: 1px solid #00639e;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 99, 158, 0.15);
    border-radius: 5px;
    transition: all 0.1s linear;
    &:hover {
      background-color: #00639e;
    }
    a {
      color: #000;
      &:hover {
        color: #fff;
      }
    }
  }
  &__show-all {
    display: block;
    color: #00639e;
    position: absolute;
    top: 120%;
    left: 42%;
    i {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-top: 2px solid #00639e;
      border-right: 2px solid #00639e;
      transform: rotate(135deg);
      position: relative;
      top: -2px;
      margin-left: 10px;
    }
  }
}

@media (max-width: 1815px) {
  .categories {
    &__list-item {
      min-width: 78px;
    }
  }
}
@media (max-width: 1601px) {
  .categories {
    &__logo {
      width: 140px;
      img {
        display: block;
        width: 140px;
      }
    }
    &__list-item {
      padding: 0px 10px;
      margin: 0px 11px 0 0;
      height: 25px;
    }
  }
}
@media (max-width: 1401px) {
  .categories {
    &__logo {
      img {
        display: block;
        width: 120px;
      }
    }
    &__list-item {
      padding: 0px 10px;
      margin: 0px 6px 0 0;
      min-width: 60px;
      a {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1201px) {
  .categories {
    .container {
      padding: 0px 15px 0px 15px;
    }
    &__inner {
      flex-direction: column;
    }
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
      img {
        display: block;
        width: 190px;
      }
    }
    &__list-item {
      padding: 0px 3px;
      margin: 0px 3px 0 0;
      min-width: 92px;
    }
  }
}
@media (max-width: 1025px) {
  .categories {
    .container {
      padding: 0px 15px 0px 15px;
    }
    &__inner {
      flex-direction: column;
    }
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
      img {
        display: block;
        width: 190px;
      }
    }
    &__list-item {
      padding: 0px 3px;
      margin: 0px 3px 0 0;
      min-width: 60px;
      &:nth-child(4) {
        min-width: 134px;
      }
    }
  }
}
@media (max-width: 768px) {
  .categories {
    &__logo {
      width: 250px;
      img {
        display: block;
        width: 100%;
      }
    }
    &__names {
      flex-direction: row;
    }
    &__list {
      flex-direction: column;
      margin: 0 10px 0 0;
      &:last-child {
        margin: 0 0 0 0;
      }
    }
    &__list-item {
      padding: 0px 10px;
      margin: 0 0 5px 0;

      min-width: 170px;
      height: 30px;

      &:hover {
        background-color: #00639e;
      }
      a {
        color: #000;
        &:hover {
          color: #fff;
        }
      }
    }
    &__show-all {
      display: block;
      color: #00639e;
      position: absolute;
      top: 103%;
      left: 36%;
      i {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #00639e;
        border-right: 2px solid #00639e;
        transform: rotate(135deg);
        position: relative;
        top: -2px;
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 481px) {
  .categories {
    &__list-item {
      min-width: 148px;
    }
  }
}
