.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 9px;
  &__common {
    font-size: 18px;
    padding: 0px 16px 0px 9px;
    border: 1px solid #00639e;
    height: 50px;
    line-height: 48px;
    border-radius: 5px;
    color: #000;
    margin-right: 20px;
  }
  &__add {
    font-size: 16px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    background: #006599;
    border-radius: 5px;
    color: #fff;
  }
}
.product {
  width: 100%;
  margin-left: 80px;
  margin-top: -65px;
  &__title {
    background: #f0f4f7;
    border: 1px solid #00639e;
    border-radius: 5px;

    text-align: center;
    height: 41px;
    line-height: 41px;
    font-size: 20px;
    margin-bottom: 13px;
  }
}

.model {
  display: flex;
  padding: 10px 0 51px 0;
  border-bottom: 1px solid black;
  &:last-child {
    border-bottom: none;
    margin-bottom: 63px;
  }
  &__info {
    display: flex;
    margin-right: 40px;
  }
  &__photos {
    margin-right: 8px;
  }
  &__main-photo {
    width: 330px;
    margin-bottom: 18px;

    img {
      display: block;
      max-width: 100%;
    }
  }
  &__mini-photo {
    display: flex;

    div {
      width: 90px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  // Model text
  &__text {
    width: 232px;
  }
  &__text-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .read-more {
    font-family: "Roboto";
    color: black;
    font-size: 14px;
    line-height: 16px;
  }
}

.storage {
  width: 100%;
  &__section {
    & + .storage__section {
      margin-top: 51px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .storage-row-wrapper {
    display: flex;
    justify-content: space-between;
    & + .storage-row-wrapper {
      margin-top: 18px;
    }
  }
  .param-wrapper {
    display: flex;
  }
  .param {
    display: flex;
    flex-direction: column;
    & + .param {
      margin-left: 2px;
    }

    span {
      border: 0.7px solid #00639e;
      border-radius: 3px;
      width: 54px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__size {
      margin-bottom: 2px;
      background-color: #fff;
    }
    &__num {
      background-color: #f0f4f7;
    }
  }
}
.param-size-etna {
  width: 80px !important;
  height: 50px !important;
  text-align: center;
}
.param-num-etna {
  width: 80px !important;
}

.result {
  display: flex;
  position: relative;
  &__title {
    position: absolute;
    top: -45px;
    right: 30px;
    font-family: "Roboto";
    span {
      font-size: 12px !important;
      border: none !important;
      & + span {
        margin-left: 20px !important;
      }
    }
  }
  span {
    height: 62px;
    background: #ffffff;
    border: 0.7px solid #00639e;
    border-radius: 3px;
    position: relative;
    line-height: 62px;
    font-size: 14px;
    & + span {
      margin-left: 5px;
    }
  }
  &__price {
    padding: 0px 25px 0px 8px;
    &::before {
      content: "";
      display: block;
      width: 9px;
      height: 10px;
      background-image: url("../images/main/rub.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 10px;
      top: 26px;
    }
  }
  &__sum {
    padding: 0px 12.63px;
  }
  &__sum-price {
    padding: 0 34px 0 20px;
    &::before {
      content: "";
      display: block;
      width: 9px;
      height: 10px;
      background-image: url("../images/main/rub.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 23px;
      top: 26px;
    }
  }
}

.result-price-etna,
.result-sum-etna,
.result-sum-price-etna {
  line-height: 80px !important;
  height: 85px !important;
}
.result-price-etna {
  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 10px;
    background-image: url("../images/main/rub.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 12px;
    top: 36px;
  }
}
.result-sum-price-etna {
  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 10px;
    background-image: url("../images/main/rub.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 22px;
    top: 36px;
  }
}

.storage-row-wrapper.margin {
  margin-bottom: 9px;
}

// Not registered styles
.product-notreg {
  margin-top: 0;
}
